<html>
    <HEAD> <link rel="stylesheet" href="style.css" /></HEAD>
    <h2>Add new location data</h2>
    <body>
        <form action="/add" method="POST">
          <label for="cname">city name:</label><br>
          <input type="text" id="cname" name="cname"><br><br>
          <label for="pollutant_type">pollutant type:</label><br>
          <input type="text" id="pollutant_type" name="pollutant_type">
          <label for="pollutant_val"> value:</label>
          <input type="text" id="pollutant_val" name="pollutant_val" width=20px><br><br>
            <br>
          <input type="submit" value="Submit">
        </form>
    </body>

</html>