<HEAD> <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"></HEAD>

<div class="movie_block">
    <div class="movie_basic" onclick="toggle_display()">
        <div class="movie_head">October 29 2021</div><div class="movie_head" float="right">1h 39mins</div>
        <div ><img src="https://imdb-api.com/images/original/MV5BY2UzODAyNjktN2MwYy00M2RkLThiOTEtMjU1MTgxY2EzM2YyXkEyXkFqcGdeQXVyODk5MDA0MDU@._V1_Ratio0.6699_AL_.jpg" width="250px" alt="Antlers Poster"></img></div>
        <div class="movie_title">Antlers</div>
        <div >Drama, Horror, Mystery</div>
    </div>
    <div class="extra_section">
        <div class="descriptor">Plot:</div>
        <div>In an isolated Oregon town, a middle-school teacher and her sheriff brother become embroiled with her enigmatic student, whose dark secrets lead to terrifying encounters with a legendary ancestral creature who came before them.</div>
        <div class="descriptor">Directors:</div>
        <div >"Scott Cooper"</div>
        <div class="descriptor">Stars:</div>
        <div >Keri Russell, Jesse Plemons, Jeremy T. Thomas, Graham Greene</div>
    </div>
</div>
