<HEAD> <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"></HEAD>

<h1>{{message}}</h1>

<div class="scrolling-wrapper">
    {%for movie in movie_list%}
    <div class="card">
    <div class="movie_block" id="movie['id']">
        <a class="crblock">{{movie['contentRating']}}</a>
        <input type="checkbox" id={{movie['id']}}>
        <div class="movie_basic">
            <label for="{{movie['id']}}">
            <div class="movie_head">{{movie['year']}}</div><div class="movie_head" float="right">{{movie['runtimeMins']}} mins</div>
            <div><img src={{movie['image']}} width="250px" alt="{{title}} Poster"></img></img></div>
            <div class="movie_title">{{movie["title"]}}</div>
            <div>{{movie['genres']}}</div>
            </label>
        </div>
        <div class="extra_section">
            <div class="descriptor">Plot:</div>
            <div>{{movie['plot']}}</div>
            <div class="descriptor">Directors:</div>
            <div >{{movie['directors']}}</div>
            <div class="descriptor">Stars:</div>
            <div >{{movie['stars']}}</div>
        </div>
    </div>
    </div>
{%endfor%}
</div>